@font-face {
  font-family: "De Valencia";
  src: url("../fonts/de-valencia-beta.otf");
}
@font-face {
  font-family: "Meedori light";
  src: url("../fonts/meedori-sans-light.ttf");
}
@font-face {
  font-family: "Meedori";
  src: url("../fonts/meedori-sans-regular.ttf");
}
@font-face {
  font-family: "Meedori bold";
  src: url("../fonts/meedori-sans-bold.ttf");
}
html, body {
  margin: 0px;
  padding: 0px;
}

html body {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
}

.mainContainer {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
}

.mainContainer .heroBlock {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
  height: 100vh;
  background: url("../images/brickShadow.jpg");
  background-size: cover;
}
.mainContainer .heroBlock .brand {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 2;
}
.mainContainer .heroBlock .emblem {
  width: 5rem;
}
.mainContainer .heroBlock .brandName {
  font-family: "De Valencia";
  font-size: 5rem;
  color: #f9f6ee;
}
.mainContainer .heroBlock .heroFooter {
  position: absolute;
  bottom: 0;
  font-size: 0.5rem;
  font-family: "Meedori bold";
  color: #fffff0;
}
.mainContainer .heroBlock .heroFooter a {
  text-decoration: none;
  color: rgb(42, 127, 255);
}

.mainContainer .infoBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-color: #f9f6ee;
  width: 130vw;
}
.mainContainer .infoBlock .infoHeader {
  padding: 2em;
  padding-right: 5em;
  font-family: "Meedori";
  font-size: 1rem;
}
.mainContainer .infoBlock .infoInput {
  padding: 2em;
  background-color: #fffff0;
  width: 65vw;
  font-family: "Meedori light";
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}
.mainContainer .infoBlock .infoInput .inputHeader {
  position: relative;
  top: -2vh;
  margin-bottom: 20px;
}
.mainContainer .infoBlock .infoInput form {
  padding-left: 5%;
  display: flex;
  flex-flow: row wrap;
  width: 35vw;
  gap: 2.5rem;
  font-size: 0.8rem;
}
.mainContainer .infoBlock .infoInput form input, .mainContainer .infoBlock .infoInput form label {
  display: block;
}
.mainContainer .infoBlock .infoInput form div {
  float: left;
}
.mainContainer .infoBlock .infoInput form label {
  position: relative;
  margin-bottom: 15px;
}
.mainContainer .infoBlock .infoInput form input {
  width: 15em;
  transition: 2s ease-in-out linear;
  outline: none;
  border-radius: 5px;
  border: hidden;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
.mainContainer .infoBlock .infoInput form input:hover {
  transform: scale(1.1);
}
.mainContainer .infoBlock .infoInput form input:focus {
  box-shadow: 3px 3px 5px rgba(42, 127, 255, 0.5);
}
.mainContainer .infoBlock .infoFooter .footerLinks {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}
.mainContainer .infoBlock .infoFooter .footerLinks button {
  position: relative;
  left: 15%;
  background-color: rgb(42, 127, 255);
  height: 2em;
  text-transform: uppercase;
  color: #fffff0;
  font-family: "Meedori bold";
  font-size: 1.1rem;
  border-radius: 5px;
  border: none;
  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);
}
.mainContainer .infoBlock .infoFooter .footerLinks p {
  position: relative;
  bottom: -10px;
  padding-left: 15%;
  font-family: "Meedori";
  font-size: 0.7rem;
}
.mainContainer .infoBlock .infoFooter .footerLinks p a {
  text-decoration: none;
  color: rgb(42, 127, 255);
}

@media screen and (max-width: 850px) {
  .mainContainer {
    flex-direction: column;
  }
  .mainContainer .heroBlock {
    width: 100vw;
    height: 20em;
  }
  .infoBlock .infoHeader, .infoInput, .infoFooter .footerLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
  }
  .infoInput {
    position: relative;
    margin-left: 10%;
  }
}/*# sourceMappingURL=main.css.map */